<ul id="navbar">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>|</li>
    <li>@Html.ActionLink("Browse by Category", "BrowseByCategory", "Home")</li>
    <li>|</li>
    <li>@Html.ActionLink("Browse by Author", "BrowseByAuthor", "Home")</li>
    <li>|</li>
    <li>@Html.ActionLink("Browse All Recipes", "BrowseAllRecipes", "Home")</li>
    <li>|</li>
    <li>@Html.ActionLink("Suggest an Edit", "SuggestEdit", "Home")</li>
</ul>
